$c-white: #ffffff;
$c-steel-grey:#43464B;
$c-grey:#898C90;
$c-grey-2:#989898;
$c-black: #000000;
$c-white-50: rgba(255, 255, 255, 0.5);
$c-white-20: rgba(255, 255, 255, 0.2);
$c-white-10: rgba(255, 255, 255, 0.1);
$c-green: #00F3BC;
$c-red: #FF393C;

$font-primary: 'Manrope', sans-serif;
$font-secondary: 'Oswald', sans-serif;
