@use './variables' as *;
@use './media' as *;

* {
  box-sizing: border-box;
  margin: 0;
  cursor: none !important;
}

body {
  padding: 0;
  margin: 0;
  font-family: $font-primary;
  cursor: none !important;
  
  @include respond("tab") {
    cursor: auto
  }
}
button, a {
  cursor: none !important;
  @include respond("tab") {
    cursor: auto
  }
}
ul, ol, li {
  list-style: none;
  padding: 0;
}

body:has(.header-open) {
  height: 100vh;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  color: inherit;
}


.f-oswald {
  font-family: $font-secondary;
}

.f-a1 {
  font-family: $font-secondary;
  font-weight: 500;
  font-size: 180px;
  line-height: 1.25;
  letter-spacing: -0.05em;
  
  @include respond("tab") {
    font-size: 64px;
  }
}
.f-a2 {
  font-family: $font-secondary;
  font-weight: 500;
  font-size: 141px;
  line-height: 1.25;
  letter-spacing: -0.05em;
  
  @include respond("tab") {
    font-size: 48px;
  }
}
.f-a3 {
  font-family: $font-secondary;
  font-weight: 500;
  font-size: 108px;
  line-height: 1.25;
  letter-spacing: -0.05em;
}
.f-a4 {
  font-family: $font-secondary;
  font-weight: 500;
  font-size: 80px;
  line-height: 0.96;
  letter-spacing: -0.05em;
}

.f-h1 {
  font-family: $font-secondary;
  font-weight: 500;
  font-size: 60px;
  line-height: 1.25;
  letter-spacing: 0;
  
  @include respond("tab") {
    font-size: 32px;
  }
}
.f-h2 {
  font-family: $font-secondary;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.25;
  letter-spacing: 0;
  @include respond("tab") {
    font-size: 24px;
  }
}
.f-h3 {
  font-family: $font-secondary;
  font-weight: 600;
  font-size: 28px;
  line-height: 1.25;
  letter-spacing: 0;

  @include respond("tab") {
    font-size: 20px;
  }
}
.f-h4 {
  font-family: $font-secondary;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.25;
  letter-spacing: 0;
}
.f-sh1 {
  font-family: $font-secondary;
  font-weight: 400;
  font-size: 35px;
  line-height: 1.25;
  letter-spacing: 0;
}
.f-sh2 {
  font-family: $font-secondary;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: 0;
  
  @include respond("tab") {
    font-size: 18px;
  }
}

.f-p1 {
  font-weight: 400;
  font-size: 28px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  
  @include respond("tab") {
    font-size: 16px;
  }
}
.f-p2 {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  
  @include respond("tab") {
    font-size: 16px;
  }
}
.f-p3 {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  @include respond("tab") {
    font-size: 14px;
  }
}
.f-p4 {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: -0.02em;
}
.f-b-p1 {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  @include respond("tab") {
    font-size: 20px;
  }
}

.f-b-p2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: -0.02em;
}

.f-b-p3 {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.1;
  letter-spacing: -0.02em;

}

.container {
  max-width: 1440px;
  padding: 0 26px;
  margin: 0 auto;
  
  @include respond("tab") {
    padding: 0 15px;
  }
  @include respond("mob-sm") {
    padding: 0 12px;
  }
}

.d-f {
  display: flex;
}
.d-if {
  display: inline-flex;
}
.jc-sb {
  justify-content: space-between;
}
.ai-c {
  align-items: center;
}
.ai-fe { 
  align-items: flex-end;
}
.ai-fs {
  align-items: flex-start;
}
.fd-c {
  flex-direction: column;
}
.jc-c {
  justify-content: center;
}
.jc-e {
  justify-content: flex-end;
}
.shrink-0 {
  flex-shrink: 0;
}

.icon {
  color: $c-white;
  transition: 0.3s all ease-in-out;
}
.icon-22 {
  width: 22px;
  height: 22px;
}
.icon-24 {
  width: 24px;
  height: 24px;
}
.icon-32 {
  width: 32px;
  height: 32px;
}
.icon-52 {
  width: 52px;
  height: 52px;
}
.o-4 {
  opacity: 0.4;
}
.o-5 {
  opacity: 0.5;
}
.o-7 {
  opacity: 0.7;
}

.dots {
  position: relative;
  // padding: 20px; 
  outline: 1px solid $c-steel-grey;
  outline-offset: 0;
  transition: 0.3s all ease-in-out;
}

.dots::before,
.dots::after,
.dots .psevdo::before,
.dots .psevdo::after {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: $c-steel-grey;
  border-radius: 50%;
  transition: 0.3s all ease-in-out;
  z-index: 1;
  
  @include respond("tab") {
    width: 6px;
    height: 6px;
  }
}
.dots .psevdo {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.dots::before {
  top: -6px;
  left: -6px;
  @include respond("tab") {
    top: -3px;
    left: -3px;
  }
}

.dots::after {
  top: -6px;
  right: -6px;
  @include respond("tab") {
    top: -3px;
    right: -3px;
  }
}

.dots .psevdo::before {
  bottom: -6px;
  left: -6px;
  @include respond("tab") {
    bottom: -3px;
    left: -3px;
  }
}

.dots .psevdo::after {
  bottom: -6px;
  right: -6px;
  @include respond("tab") {
    bottom: -3px;
    right: -3px;
  }
}
.dots-hover:hover {
  outline: 1px solid $c-white;
  background-color: rgba($c-white, 0.1);
   
  &::before,
  &::after, 
  .psevdo::before,
  .psevdo::after{
    z-index: 2;
    background-color: $c-green;
    transition: 0.3s all ease-in-out;
  }
}

.hide-tablet {
  @include respond("tab") {
    display: none;
  }
}
.hide-desctop {
  display: none;
  
  @include respond("tab") {
    display: block;
  }
}

.green {
  color: $c-green;
}

.btn-green {
  color: $c-green;
  svg {
    color: $c-green;
  }
  &:hover {
    color: $c-white;
    svg {
      color: $c-white;
    }
  }
}

.hover-green {
  transition: 0.3s all ease-in-out;
  &:hover {
    color: $c-green;
    .icon {
      color: $c-green;
    }
  }
}

.richtext {
  
  ul, ol {
    padding-left: 20px;
  }
  ul li {
    list-style: disc;
  }
  ol li {
    list-style: auto;
  }
  a {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  blockquote {
    font-style: italic;
  }
}

.btn {
  &:hover{
    background-color: rgba($c-white, 0.1);
  }
}

.vfm-marquee-container {
  overflow: hidden;
}

.whitespace-pre-line {
  white-space: pre-line;
}

.custom-scrollbar {
  &::-webkit-scrollbar {
    width: 16px;
    @include respond("tab") {
      width: 12px;
    }
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: $c-steel-grey;
    border: 4px solid transparent;
    background-clip: content-box;
  }

  &--accent {
    &::-webkit-scrollbar-thumb {
      background-color: $c-green;
    }
  }
}

.dots-border {
  --dot-size: 12px;
  --dot-radius: calc(var(--dot-size) / 2);
  position: relative;
  @include respond("tab") {
    --dot-size: 6px;
  }

  &:before,
  &:after {
    content: '';
    position: absolute;
    pointer-events: none;
  }

  &:before {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid $c-steel-grey;
  }

  &:after {
    top: calc(var(--dot-radius) * -1);
    right: calc(var(--dot-radius) * -1);
    bottom: calc(var(--dot-radius) * -1);
    left: calc(var(--dot-radius) * -1);
    background:
      radial-gradient(circle, $c-steel-grey var(--dot-radius), transparent var(--dot-radius)) top left,
      radial-gradient(circle, $c-steel-grey var(--dot-radius), transparent var(--dot-radius)) top right,
      radial-gradient(circle, $c-steel-grey var(--dot-radius), transparent var(--dot-radius)) bottom left,
      radial-gradient(circle, $c-steel-grey var(--dot-radius), transparent var(--dot-radius)) bottom right;
    background-size: var(--dot-size) var(--dot-size);
    background-repeat: no-repeat;
  }

  &--hide-bottom {
    &:before {
      border-bottom-width: 0;
    }

    &:after {
      background:
        radial-gradient(circle, $c-steel-grey var(--dot-radius), transparent var(--dot-radius)) top left,
        radial-gradient(circle, $c-steel-grey var(--dot-radius), transparent var(--dot-radius)) top right;
      background-size: var(--dot-size) var(--dot-size);
      background-repeat: no-repeat;
    }
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
