@use './variables' as *;
@use './fonts' as *;
@use './media' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none !important;
}

body {
  font-family: 'Manrope', sans-serif;
  cursor: none !important;
}
button, a {
  cursor: none !important;
}

body:has(.header-open) {
  height: 100vh;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  color: inherit;
}

ul, ol, li {
  list-style: none;
  padding: 0;
}

.f-oswald {
  font-family: 'Oswald', sans-serif;
}

.f-a1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 180px;
  line-height: 125%;
  letter-spacing: -0.05em;
  
  @include respond("tab") {
    font-size: 64px;
  }
}
.f-a2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 141px;
  line-height: 125%;
  letter-spacing: -0.05em;
  
  @include respond("tab") {
    font-size: 48px;
  }
}
.f-a3 {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 108px;
  line-height: 125%;
  letter-spacing: -0.05em;
}
.f-a4 {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 80px;
  line-height: 96%;
  letter-spacing: -0.05em;
}

.f-h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 60px;
  line-height: 125%;
  letter-spacing: -0.05em;
  
  @include respond("tab") {
    font-size: 32px;
  }
}
.f-h2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 125%;
  letter-spacing: -0.05em;
  @include respond("tab") {
    font-size: 24px;
  }
}
.f-h3 {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 125%;
  letter-spacing: -0.05em;

  @include respond("tab") {
    font-size: 20px;
  }
}
.f-h4 {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: -0.05em;
}
.f-sh1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 125%;
  letter-spacing: -0.05em;
}
.f-sh2 {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 125%;
  letter-spacing: -0.02em;
  
  @include respond("tab") {
    font-size: 18px;
  }
}

.f-p1 {
  font-weight: 400;
  font-size: 28px;
  line-height: 130%;
  letter-spacing: -0.02em;
  
  @include respond("tab") {
    font-size: 16px;
  }
}
.f-p2 {
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: -0.02em;
  
  @include respond("tab") {
    font-size: 16px;
  }
}
.f-p3 {
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: -0.02em;
}
.f-p4 {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: -0.02em;
}
.f-b-p1 {
  font-weight: 500;
  font-size: 40px;
  line-height: 130%;
  letter-spacing: -0.02em;
  @include respond("tab") {
    font-size: 20px;
  }
}

.f-b-p2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: -0.02em;
}

.f-b-p3 {
  font-weight: 400;
  font-size: 20px;
  line-height: 110%;
  letter-spacing: -0.02em;

}

.container {
  max-width: 1440px;
  padding: 0 26px;
  margin: 0 auto;
  
  @include respond("tab") {
    padding: 0 15px;
  }
}

.d-f {
  display: flex;
}
.jc-sb {
  justify-content: space-between;
}
.ai-c {
  align-items: center;
}
.fd-c {
  flex-direction: column;
}
.jc-c {
  justify-content: center;
}
.jc-e {
  justify-content: flex-end;
}


.icon {
  color: $c-white;
}
.icon-32 {
  width: 32px;
  height: 32px;
}
.icon-52 {
  width: 52px;
  height: 52px;
}

.dots {
  position: relative;
  // padding: 20px; 
  outline: 1px solid $c-steel-grey;
  outline-offset: 0;
}

.dots::before,
.dots::after,
.dots .psevdo::before,
.dots .psevdo::after {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: $c-steel-grey;
  border-radius: 50%;
  transition: 0.3s all ease-in-out;
}
.dots .psevdo {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.dots::before {
  top: -6px;
  left: -6px;
}

.dots::after {
  top: -6px;
  right: -6px;
}

.dots .psevdo::before {
  bottom: -6px;
  left: -6px;
}

.dots .psevdo::after {
  bottom: -6px;
  right: -6px;
}
.dots-hover:hover {
  &::before,
  &::after, 
  .psevdo::before,
  .psevdo::after{
    z-index: 2;
    background-color: $c-green;
    transition: 0.3s all ease-in-out;
  }
}

.hide-tablet {
  @include respond("tab") {
    display: none;
  }
}
.hide-desctop {
  display: none;
  
  @include respond("tab") {
    display: block;
  }
}

.green {
  color: $c-green;
}

.hover-green {
  transition: 0.3s all ease-in-out;
  &:hover {
    color: $c-green;
  }
}