# Dependency Directories
node_modules
.npm
.yarn

# Log Files
npm-debug.log
yarn-error.log
*.log

# Build/Dist/Coverage
dist
build
coverage

# Development Tools & Editors
.git
.gitignore
.vscode
.idea

# Environment/Secrets
.env
.env.*